# ============================================
# PostgreSQL - Airflow metadata database
# ============================================
POSTGRES_USER=airflow
POSTGRES_PASSWORD=change_me
POSTGRES_DB=airflow

# ============================================
# MySQL - ETL destination database
# ============================================
MYSQL_ROOT_PASSWORD=change_me_root
MYSQL_DATABASE=visitas_db
MYSQL_USER=etl_user
MYSQL_PASSWORD=change_me

# ============================================
# SFTP mock - Local development
# ============================================
SFTP_USER=etl_user
SFTP_PASSWORD=change_me
SFTP_PORT=2222
SFTP_REMOTE_PATH=archivosVisitas

# ============================================
# Application
# ============================================
ETL_STAGING_PATH=/opt/airflow/data/staging
ETL_BACKUP_PATH=/opt/airflow/data/backup
ETL_ENV=dev


# ============================================
# Secret provider
# ============================================

ETL_SECRET_PROVIDER=env

# Used only when ETL_SECRET_PROVIDER=gcp
GCP_PROJECT_ID=your-gcp-project-id

GCP_SECRET_SFTP_USER=etl-sftp-user
GCP_SECRET_SFTP_PASSWORD=etl-sftp-password
GCP_SECRET_MYSQL_USER=etl-mysql-user
GCP_SECRET_MYSQL_PASSWORD=etl-mysql-password

# ============================================
# Airflow DAG configuration
# ============================================

ETL_TIMEZONE=America/Mexico_City
ETL_SCHEDULE=0 6 * * *
